TOGETHER_API_KEY = "your_together_api_key"
LANGFUSE_HOST = "https://cloud.langfuse.com"
QDRANT_URL = "http://localhost:6333"
QDRANT_API_KEY = ""

[langfuse]
public_key = "your_langfuse_public_key"
secret_key = "your_langfuse_secret_key"
